body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.flexble{
    display: flex;
}
div{
    width: 50%;
    padding-left: 40px;
}
div img{
    width: 80%;
    padding-top: 10px;
}

.link-button{
text-decoration: none;
background-image: linear-gradient(orange, tomato);
padding: 10px 40px;
font-weight: 700;
color: white;
border-radius: 20px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin: 0px;
}
.download{
    text-decoration: none;
background-image: linear-gradient(orange, tomato);
padding: 10px 40px;
font-weight: 700;
color: white;
border-radius: 20px;

}
.dream{
    margin-top: 140px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.last-sec{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.flex2{
    display: flex;
    width: 80%;
    padding-bottom: 100px;
  padding-right: 5px;
   
}
.last-flex{
   box-shadow: 10px 10px 40px gray;
   margin-left: 8%;
   border-radius: 20px;
   
}
.exp{
    padding-left: 40px;
}
#border1{
    border-left: 7px solid;
    border-color: indianred;

}
#border2{
    border-left: 7px solid;
    border-color: indigo;

}
footer p{
   text-align: center;
    color: indigo;
}